@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $bg-white;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-black;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $border-white;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $bg-orange;
        color: $text-white;
        border-color: $border-orange;
      }

      &.active {
        border-color: $text-black;
      }
    }

    .menuIcon {
      display: none;
    }
  }

  .smallMenu {
    display: none;
  }
}

@media (max-width: 1200px) {
  .root {
    :global(.container) > :global(.row) {
      height: 120px;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .search {
      padding-top: 5px;
      order: 1;
    }

    .menu {
      order: 0;
    }
  }
}

@media (max-width: 768px) {
  .root {
    .wrapper {
      flex-direction: row;

      .search {
        order: 0;
        width: 20px;
      }

      .menu {
        order: 1;
        position: static;

        .menuIcon {
          font-size: 25px;
          display: block;
          padding: 35px 30px;
          position: static;
        }

        ul {
          display: none;
        }

        .smallMenu {
          position: absolute;
          min-width: 105vw;
          top: 300px;
          right: -20px;
          background-color: $bg-white;
          z-index: 10;
          margin: 0 auto;

          li {
            a {
              width: 100%;
              justify-content: center;
              border-bottom: 2px solid $bg-white-blue;
            }
          }
        }

        .menuIcon:hover {
          .smallMenu {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 515px) {
  .root {
    .wrapper {
      .menu {
        .smallMenu {
          top: 350px;
        }
      }
    }
  }
}

@media (max-width: 378px) {
  .root {
    .wrapper {
      .menu {
        .smallMenu {
          top: 400px;
        }
      }
    }
  }
}
