@import "../../../styles/settings.scss";

.root {

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $border-dark-white;
    }

    .heading {
      position: relative;

      h3 {
        color: $text-orange;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $border-orange;;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $text-black;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $border-orange;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $bg-white;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $bg-light-silver;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $bg-orange;
            }
          }
        }
      }
    }
  }

  .stickyBar {
    background-color: rgba(255,255,255, 0.8);
    position: fixed;
    width: 100%;
    max-width: 1110px;
    bottom: 10px;
    z-index: 1000;
    margin: -2px;
    box-sizing: padding-box;
    //border: 2px solid $bg-orange;
    box-shadow: 0 4px 8px 0 $bg-black, 0 6px 20px 0 $bg-black, inset 0 0 0 2px $bg-orange;
  //  box-shadow: inset 1px 1px $bg-orange;

    .stickyBarWrapper {
      &:first-of-type {
        margin-left: 13px;
      }
      margin-right: 8px;
      padding: 15px 25px ;

      .photo {
        position: relative;
        overflow: hidden;
        align-items: flex-end;
        padding: 0;
        border: 1px solid $bg-black;

        &:hover .close {
          opacity: 1;

        }

        .close {
          cursor: pointer;
          position: absolute;
          top: -5px;
          right: 8px;
          transform: translate(0, 50%);
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1;
          color: $text-white;
          opacity: 0;
          z-index: 9999;
          background-color: $bg-black;
          width:30px;
          height:30px;
          border-radius: 50%;
          border: 1px solid $bg-white;
          text-align: center;
          line-height: 1.5rem;

          &:hover {
            box-shadow: 1px 1px 5px $bg-black;
          }
        }



        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }

      .compare {
        height: fit-content;
        padding-left: 0;
        padding-right: 0;
        top: 80%;
        position: absolute;

        .stickyBarOutline {
          background-color: $bg-black;
          color: $text-white;
          position: absolute;
          right: -20px;
          bottom: -22px;
          border: 1px solid $text-white;
        }
      }
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      filter:saturate(0);
    }
    to {
      opacity: 100;
      filter:saturate(1);
    }
  }

  .col {
    animation: appear;
    animation-duration: 1s;
  }
}

@media (min-width: 481px) {
  .col {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .col {
    width: 33.333%;
  }
}

@media (min-width: 1280px) {
  .col {
    width: 25%;
  }
}

@media (max-width:1199px) {
  .root .stickyBar {
    width: 930px;
  }
}

@media (max-width:989px) {
  .root .stickyBar {
    width: 690px;
  }
}

@media (max-width:768px) {
  .root .stickyBar {
    width: 510px;
  }
}

@media (max-width:577px) {
  .root .stickyBar {
    display:none;
  }
}
