@import "../../../styles/settings.scss";

.root {
  .wrapper {
    margin: 0 0px 30px 0px;
    height: 70px;
    border-top: 1px solid $border-light-silver;

    .button {
      background-color: $bg-light-black;
      display: flex;
      align-items: center;
      color: $text-white;
      justify-content: center;
      height: 100%;
      margin: 0;
      width: 25px;
      z-index: 3;

      .icon {
        color: $text-white;
      }
    }

    .button:hover {
      background-color: $bg-orange;
    }

    .image {
      margin: 12px;
      object-fit: cover;
      overflow: hidden;
      border: 1px solid $border-light-silver;

      img {
        height: 70px;
      }
    }
  }
}
