@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 260px;

    .icon:first-child {
      color: $bg-orange;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
  }
  
  .menu, .menu ul, .menu ol {
    list-style-type:none;
    padding:0;
    margin: 0;
  }

  .menu {
    background-color:#FFF;
    height:2em;
    line-height:2em;
    text-align:center;
    z-index: 2;
  }

  .menu a {
    display: block;
    text-decoration: none;
    color: $text-black;
    padding: 0 5px;
  }

  .menu > li:hover > ul {
    display:block;
  }

  .menu > li > ul {
    display:none;
  }

  .menu > li > ul > li {
    position: relative;
    background-color: #EEE;
  }

  .menu > li > ul > li > a {
    background-color: $bg-orange;
    width: 200px;
  }

  .menu > li > ul > li > a {
    color: $bronze;
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
  }

  .menu > li > ul > li:hover > a {
    color: #FFF;
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
  }

  .menu > li > ul > li > ol {
    display:none;
    width:150%;
    position:absolute;
    left:100%;
    margin-top:-2em;
  }

  .menu > li > ul > li:hover > ol {
    display:block;
    z-index: 1;
  }

  .menu > li > ul > li > ol > li {
    background-color:#CCC;
  }
  
  .menu > li > ul > li > ol > li > a {
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
  }

  .menu > li > ul > li > ol > li > a:hover {
    background-color: $bg-orange;
    color: #FFF;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
