@import "../../../styles/settings.scss";

.root {
  .baner {
    background-color: $bg-bronze;
    text-align: center;
    padding: 35px;
    color: $text-white;

    .banerTitle {
      font-weight: 250;
      font-size: 45px;
      b {
        font-weight: 600;
      }
    }

    .banerSubtitle {
      text-align: center;
      font-size: 22px;
      letter-spacing: 8px;
      font-weight: 300;
      a {
        color: $text-orange;
      }
    }
  }

  .columnWrapper {
    display: flex;
  }
}

@media (max-width: 576px) {
  .columnWrapper {
    flex: column;

    .columnFurniture {
      order: 1;
    }

    .columnFilter {
      order: 0;
    }
  }
}
