@import "../../../styles/settings.scss";

.root {
  .baner {
    background-color: $bg-bronze;
    text-align: center;
    padding: 35px;
    color: $text-white;

    .banerTitle {
      font-weight: 250;
      font-size: 45px;
      b {
        font-weight: 600;
      }
    }

    .banerSubtitle {
      text-align: center;
      font-size: 22px;
      letter-spacing: 8px;
      font-weight: 300;
      a {
        color: $text-orange;
      }
    }
  }

  .pageMenu {
    background-color: $bg-dark-white;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;

    a {
      color: $text-black;
      padding-left: 15px;
      text-decoration: none;
      .icon {
        margin-left: 10px;
      }
    }

    .pageActive {
      color: $text-orange;
    }
  }

  .columnWrapper {
    display: flex;
    padding: 30px 0;
  }
}

@media (max-width: 576px) {
  .columnWrapper {
    flex: column;

    .columnFurniture {
      order: 1;
      padding-top: 30px;
    }

    .columnFilter {
      order: 0;
    }
  }
}
