@import "../../../styles/settings.scss";

.root {
  .baner {
    background-color: $bg-bronze;
    text-align: center;
    padding: 35px;
    color: $text-white;

    .banerTitle {
      font-weight: 250;
      font-size: 45px;
      b {
        font-weight: 600;
      }
    }

    .banerSubtitle {
      text-align: center;
      font-size: 22px;
      letter-spacing: 8px;
      font-weight: 300;
      a {
        color: $text-orange;
      }
    }
  }

  .pageMenu {
    background-color: $bg-dark-white;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;

    a {
      color: $text-black;
      padding-left: 15px;
      text-decoration: none;
      .icon {
        margin-left: 10px;
      }
    }

    .pageActive {
      color: $text-orange;
    }
  }

  .columnWrapper {
    display: flex;
    padding: 30px 0;

  //   .categoriesFilter {
  //     position: relative;
  
  //     .categoriesTitle {
  //       position: relative;
  //       border-bottom: 2px solid;
  //       flex: 1;
  //       margin-bottom: 20px;
  
  
  //       h5 {
  //         text-transform: uppercase;
  //         font-size: 20px;
  //         line-height: 40px;
  //         margin: 0;
  //       }
  //     }

  //     ul {
  //       padding-inline-start: 0;
  //     }

  //     .categoriesItem {
  //       list-style-type: none;
  //       padding: 5px 0;
  //     }

  //     .categoriesInner {
  //       display: flex;
  //       color: $text-black;
  //       text-decoration: none;
  //       align-items: center;

  //       .icon {
  //         align-items: flex-start;
  //       }

  //       .categoriesSubtitle {
  //         flex: 1;
  //         padding-inline-start: 10px;
  //       }

  //       .categoriesNumber {
  //         background-color: $bg-black;
  //         color: $text-white;
  //         border-radius: 50%;
  //         height: 25px;
  //         width: 25px;
  //         align-items: flex-end;
  //         text-align: center;
  //       }
  //     }

  //     .categoriesActive {
  //       padding-inline-start: 10px;
  //       a {
  //         color: $text-orange;

  //         .categoriesNumber {
  //           background-color: $bg-orange;
  //           color: $text-white;
  //         }
  //       }
  //     }
  //   }
  }
}

@media (max-width: 576px) {
  .columnWrapper {
    flex: column;

    .columnFurniture {
      order: 1;
      padding-top: 30px;
    }

    .columnFilter {
      order: 0;
    }
  }
}
