@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $bg-bronze;
    padding: 3rem 0;

    .menuWrapper {
      h6 {
        color: $text-white;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: $text-grey;

            &:hover {
              color: $text-white;
            }
          }
        }
      }
    }

    .cardsStyle {
      justify-content: flex-end;
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottomBar {
    background-color: $bg-black;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      text-align: center;

      p {
        margin: 0;
        color: $text-grey;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: $text-grey;
            text-decoration: none;

            &:hover {
              color: $text-orange;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .cardsStyle {
    margin-left: -50px;
  }
}

@media (max-width: 768px), (min-width: 576px) {
  .copyright {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .menuWrapper {
    padding-left: 30px;
  }
}

@media (max-width: 420px) {
  .menuSize {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cardsStyle {
    margin-left: 5%;
  }
}