@import "../../../styles/settings.scss";

.component {

  height: auto;
  padding-bottom: 2px;
  .sortAndShow {
    border-bottom: solid 1px $border-black;
    padding-bottom: 6px;
    display: grid;
    grid-template-columns:  1fr 3fr;
    grid-template-rows: 1fr ;

    grid-template-areas:
      "title functionColumn";


    .title {
      grid-area: title;

      font-size: 20px;
    }
    .functionColumn {
      grid-area: functionColumn;
      display: inline-block;
      justify-self: end;
      .dropdownMenu {
        display: inline-block;

        select, .litleSelect {
          width: 200px;
          border-color: $border-light-grey;
          color: $text-grey;
          margin: 0 50px 0 10px;

        }
        .litleSelect {
          width:40px;
        }
      }
      .border {
        width: auto;
        height: 26px;
        border: 1px solid $border-light-grey;
        display: inline-block;


        .icon {
          justify-content: center;
          margin: 4px 10px;

          &:hover {
            color: $text-orange;
            cursor: pointer;
          }


        }

      }
    }
  }

  .productCard {
    border-top: solid 1px $border-black;
    width: 100%;

    padding: 30px 0;
    display: grid;
    grid-template-columns:  1fr 2.5fr;
    grid-template-rows: 1fr ;
    grid-gap: 60px;
    grid-template-areas:
    "productPhoto productValue";


    .productPhoto {
      grid-area: productPhoto;
      height: 200px;
      background-color: $bg-white-blue;

      .photoText {


        width: 53px;
        margin: -1px auto 0 auto;

        border-left: 10px solid black;
        border-right: 10px solid black;
        border-bottom-left-radius: 90px ;
        border-bottom-right-radius: 90px ;
        border-color: $border-black;
        background-color: $bg-black;
        color: $text-white;
      }
    }
    .productValue {

      grid-area: productValue;

      .nameProduct {

        font-weight: bolder;
        color: $text-orange;
        margin-bottom: 10px;
      }
      .price {
      font-weight: bolder;
      margin-bottom: 10px;
      font-weight: 500;
      }

      .rating {

        margin-bottom: 10px;;
        .stars a{
        color: $text-black;
        font-weight: 100;
        }
      }
    }

  }

}
